{
	"belly" : {
		"default": {
			"includes": [
				"/humanoid/any/sbqModules/belly/sbqModule.config"
			],
			"animations" : [
				"/humanoid/avali/sbq/belly.animation"
			]
		}
	},
	"cock" : {
		"default": {
			"includes" : [
				"/humanoid/any/sbqModules/cock/sbqModule.config",
				"/humanoid/any/sbqModules/humanoidBase/jackoff.sbqModule.config"
			],
			"animations" : [
				"/humanoid/avali/sbq/cock.animation"
			]
		}
	},
	"balls" : {
		"default": {
			"includes": [
				"/humanoid/any/sbqModules/balls/sbqModule.config"
			],
			"animations" : [
				"/humanoid/avali/sbq/balls.animation"
			]
		}
	},
	"breasts" : {
		"default": {
			"includes" : [
				"/humanoid/any/sbqModules/breasts/sbqModule.config",
				"/humanoid/any/sbqModules/humanoidBase/squishBreasts.sbqModule.config"
			]
		}
	},
	"pussy" : {
		"default": {
			"includes" : [
				"/humanoid/any/sbqModules/pussy/sbqModule.config",
				"/humanoid/any/sbqModules/humanoidBase/fingerPussy.sbqModule.config"
			],
			"animations" : [
				"/humanoid/avali/sbq/pussy.animation"
			]
		}
	},
	"tail": {
		"naga": {
			"includes": ["/humanoid/any/sbqModules/naga/sbqModule.config"],
			"animations" : ["/humanoid/avali/sbq/naga.animation"]
		},

		"nickit": {
			"includes": ["/humanoid/any/sbqModules/nickit_tail/sbqModule.config"],
			"animations" : ["/humanoid/avali/sbq/tail.animation"]
		},
		"flareon": {
			"includes": ["/humanoid/any/sbqModules/flareon_tail.sbqModule.config"],
			"animations" : ["/humanoid/avali/sbq/tail.animation"]
		},
		"vaporeon": {
			"includes": ["/humanoid/any/sbqModules/vaporeon_tail.sbqModule.config"],
			"animations" : ["/humanoid/avali/sbq/tail.animation"]
		},
		"luxio": {
			"includes": ["/humanoid/any/sbqModules/luxio_tail.sbqModule.config"],
			"animations" : ["/humanoid/avali/sbq/tail.animation"]
		}
	}
}
